.footer {
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 206px;

    padding-right: 89px;
    padding-left: 76px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: left ;
    padding: 60px 15px;
    
  }
}

.footer__holder {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    margin-right: 165px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 70px;
    width: 231px;
    text-align: left;
    justify-content: space-evenly;
    margin-bottom: 0;
   
  }
}

.footer {
  &__item {
    display: block;
    margin-bottom: 8px;
    line-height: 1.71;

    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }

  &__address-style {
    font-style: normal;
  }
  &__address {
    text-decoration: none;
    color: #ffffff;
  }

  &__contact {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer__contact {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
