// .logo{
//     padding-top: 24px;
//     padding-bottom: 24px;

//     color: #000000;
//     font-family: Raleway, sans-serif;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.2;
//     letter-spacing: 0.03em;
//     text-decoration: none;

//     &--color{
//         display: block;
//         margin-bottom: 20px;

//         color: #FFFFFF;
//     }


// }

// .accent{
//     color: $accent-color;
// }

.logo {
  display: block;
  padding-left: 15px;

  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

      &--padding{
        padding: 0;

        @media screen and (min-width: $tablet) {
          padding: 0;
        }
    }
    &--color{
      color: #FFFFFF;
    }



  @media screen and (max-width: 767px) {
   
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    padding-left: 15px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 0;
  }
}

.accent {
  color: $accent-color;
}
