.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.section-names {
  padding-top: 60px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: $title-text-color;

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

//     padding-top: 60px;

//     // &-names{
//     //     margin-top: 0;
//     //     margin-bottom: 50px;
//     //     color:$title-text-color;
//     //     font-weight: 700;
//     //     font-size: 36px;
//     //     line-height: 1.16;
//     //     text-align: center;
//     // }

//     @media screen  and  (min-width: $mobile){
//         width: $mobile;
//     }

//     @media screen and (max-width: 767px){

//         width: $mobile;
//      }

//     @media screen and (min-width: $tablet) {

//         width:$tablet;
//     }

//     @media screen and (max-width:1199px) {
//              padding-top: 60px;

//     }

//     @media screen and (min-width: $desktop){
//         width: $desktop;
//         padding-top: 94px;
//     }

// }
