.header-portfolio{
    height: 80px;
    margin-left: 0;
    margin-right: 0;
    

    background-color: #FFFFFF;
    color:$title-text-color;
    border-bottom:1px solid #ECECEC;
    
    margin-bottom: 94px;
}